<h1 class="text-center">List of Users</h1>
<div class="users-table-padding">
  <!-- new user form -->
  <div class="well well-sm">
    <form class="" name="new-user" action="index.html" method="post">
      <label for="first-name">First name</label>
      <input type="text" name="user[first_name]" id="first-name" value="" placeholder="John">
      <label for="last-name">Last name</label>
      <input type="text" name="user[last_name]" id="last-name" value="" placeholder="Doe">
      <label for="email">Email</label>
      <input type="text" name="user[email]" id="email" value="" placeholder="john@mail.com">
      <label for="ssn">Social Security Number</label>
      <input type="text" name="user[ssn]" id="ssn" value="" placeholder="123-45-6789">
      <button type="button" name="button" id="create-new">Create User</button>
    </form>
  </div>
  <!-- users table -->
  <table class="users table table-striped" border="1" style="margin: 0px;">
    <thead class="thead-inverse">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="users">
      <% @users.each do |user| %>
        <%= render partial: 'user_info', locals: {user: user} %>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
